<nav class="main-navigation-min js__main-navigation-min"  role="navigation">

<div class="main-navigation-min__logo">
    <a class="header-middle__logo-link" href="index.html">
        <img class="main-navigation-min__logo-img img-responsive" src="images/logo.png" alt="logo">
    </a>
</div>


<div class="main-navigation-min__items-wrp js__main-navigation-min__items-wrp">

<ul class="main-navigation-min__items-list js__main-navigation-min__items-list">

{{#withSort pages "data.number"}}
{{#is data.hideInMenu false}}
{{#is data.menuLevel 1}}
{{#is data.subpages true}}
<li class="main-navigation-min__item js__main-navigation-min__item {{#is ../../../../this.dropdown "true"}}_sub {{/is}}{{#is ../../../../page.title data.title}}_active{{/is}}
{{#each ../../../../pages }}
{{#is data.menuLevel 2}}
{{#is ../../../../this.data.title data.parent}}
{{#is ../../../../../../../page.title  data.title}}_active{{/is}}
{{/is}}
{{/is}}
{{/each}}
{{#each ../../../../pages }}
{{#is data.menuLevel 3}}
{{#is ../../../../this.data.title data.parent}}
{{#is ../../../../../../../page.title  data.title}}_active{{/is}}
{{/is}}
{{/is}}
{{/each}}
{{#each ../../../../pages }}
{{#is data.menuLevel 4}}
{{#is ../../../../this.data.title data.parent}}
{{#is ../../../../../../../page.title  data.title}}_active{{/is}}
{{/is}}
{{/is}}
{{/each}}
{{#each ../../../../pages }}
{{#is data.menuLevel 5}}
{{#is ../../../../this.data.title data.parent}}
{{#is ../../../../../../../page.title  data.title}}_active{{/is}}
{{/is}}
{{/is}}
{{/each}}">
<a  href="{{basename}}.html" class="main-navigation-min__item-link"  >{{data.title}}</a>
<a href="{{basename}}.html" class="main-navigation-min__item-link-mobile js__main-navigation-min__item-link-mobile"></a>
<ul class="main-navigation-min__sub-item-list">
{{#withSort ../../../../pages "data.number"}}
{{#is data.menuLevel 2}}
{{#is ../../../../this.data.title data.parent}}
<li class="main-navigation-min__sub-item {{#is ../../../../../../../page.title  data.title}}_active{{/is}}
{{#each ../../../../../../../pages }}
{{#is data.menuLevel 3}}
{{#is ../../../../this.data.title data.parent2}}
{{#is ../../../../../../../../../../page.title  data.title}}_active{{/is}}
{{/is}}
{{/is}}
{{#is data.menuLevel 4}}
{{#is ../../../../this.data.title data.parent2}}
{{#is ../../../../../../../../../../page.title  data.title}}_active{{/is}}
{{/is}}
{{/is}}
{{#is data.menuLevel 5}}
{{#is ../../../../this.data.title data.parent2}}
{{#is ../../../../../../../../../../page.title  data.title}}_active{{/is}}
{{/is}}
{{/is}}
{{/each  }}">
<a class="main-navigation-min__sub-item-link" href="{{basename}}.html">{{data.title}}</a>
</li>
{{/is}}
{{/is}}
{{/withSort  }}
</ul>
</li>
{{else}}
<li class="main-navigation-min__item js__main-navigation-min__item {{#is ../../../../page.title data.title}}_active{{/is}}"><a class="main-navigation-min__item-link" href="{{basename}}.html">{{data.title}}</a></li>
{{/is}}
{{/is }}
{{/is }}
{{/withSort}}

</ul>

<div class="main-navigation-min-button-next js__main-navigation-min-button-next"></div>
<div class="main-navigation-min-button-prev js__main-navigation-min-button-prev"></div>
</div>

<div class="main-navigation-min__search-btn-wrp">
    <a class="main-navigation-min__search-btn js__main-navigation-min__search-btn" href="">Search<span></span></a>
</div>
<div class="main-navigation-min__search-box js__main-navigation-min__search-box" ><input placeholder="Search..." type="search"></div>


</nav>
