---
#layout: default.hbs #by default it is default.hbs, but you can specify another one
title: Home #title in menu
position: 1 #position in menu
hideInMenu: false #if true, will be hidden in menu
hideInBreadcrumbs: false #if true, will be hidden in breadcrumbs
externalLink: false #just add link (http://link.com) instead of "false" to use this page like a link to external page.
---

<div class="top-content">
    {{>slider}}
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            {{ renderContent 'bigIconTextButton'
                bigTopIcon="now_widgets"
                header="Content element 1"
                text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitfhghfhor. Ut in nulla enim. Phasellus class aptent taciti sociosqu."
                buttonName="Read more"
                btnAsLink=false
                wholeAreaLink="#background-link"
            }}
        </div>
        <div class="col-md-4">
            {{ renderContent 'bigIconTextButton'
                bigTopIcon="devices"
                header="Content element 1"
                text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitfhghfhor. Ut in nulla enim. Phasellus class aptent taciti sociosqu."
                buttonName="Read more"
                btnAsLink=false
            }}
        </div>
        <div class="col-md-4">
            {{ renderContent 'bigIconTextButton'
                bigTopIcon="equalizer"
                header="Content element 1"
                text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitfhghfhor. Ut in nulla enim. Phasellus class aptent taciti sociosqu."
                buttonName="Read more"
                btnAsLink=false
            }}
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            {{ renderContent 'divider'
                icon="devices"
            }}
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            {{ renderContent 'imageTextLink'
                imgSrc="images/foto1.jpg"
                imgLink="/"
                header="Content element 2"
                text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitfhghfhor. Ut in nulla enim. Phasellus class aptent taciti sociosqu."
                linkName="Read more"
                linkAsBtn=false
                wholeAreaLink="#background-link"
            }}
        </div>
        <div class="col-md-4">
            {{ renderContent 'imageTextLink'
                imgSrc="images/foto1.jpg"
                imgLink="/"
                header="Content element 2"
                text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitfhghfhor. Ut in nulla enim. Phasellus class aptent taciti sociosqu."
                linkName="Read more"
                linkAsBtn=false
            }}
        </div>
        <div class="col-md-4">
            {{ renderContent 'imageTextLink'
                imgSrc="images/foto1.jpg"
                imgLink="/"
                header="Content element 2"
                text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitfhghfhor. Ut in nulla enim. Phasellus class aptent taciti sociosqu."
                linkName="Read more"
                linkAsBtn=false
            }}
        </div>
    </div>
</div>


<div class="parallax parallax-video" data-jarallax-video="https://www.youtube.com/watch?v=ab0TSkLe-E0" style=" background-image: url('images/temp-carousel-3.jpg'); height:auto;">
    <div class="inverse">
    <div id="c181" class="container ">
        <div class="row">
            <div class="col1  col-md-8 one-column-align-center">
                <div class="blue-mountaih-header">
                    <div id="c183" class="text-center margin-top-70">
                        <h2>Lorem ipsum dolor sit amet markum</h2>
                    </div>
                </div>
                <div id="c183" class="text-center">
                    <div class="ce-textpic ce-right ce-intext">
                        <div class="ce-bodytext">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitfhghfhor. Ut in nulla enim. Phasellus class aptent taciti sociosqu.</p>
                        </div>
                    </div>
                </div>
                {{ renderContent 'bigIconTextButton'
                    bigTopIcon="equalizer"
                    header="Content element 1"
                    text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitfhghfhor. Ut in nulla enim. Phasellus class aptent taciti sociosqu."
                    buttonName="Read more"
                    btnAsLink=false
                }}
            </div>
        </div>
    </div>
    </div>
</div>

<div class="parallax parallax-img" style="background-image: url('images/parallax_image.jpg'); height:auto;">
    <div class="inverse">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                {{ renderContent 'iconTextButton'
                    headerLeftIcon="access_time"
                    header="Content element 1"
                    text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitfhghfhor. Ut in nulla enim. Phasellus class aptent taciti sociosqu."
                    buttonName="Read more"
                    btnAsLink=false
                    wholeAreaLink="#background-link"
                }}
            </div>
            <div class="col-md-4">
                {{ renderContent 'iconTextButton'
                    headerLeftIcon="settings"
                    header="Content element 1"
                    text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitfhghfhor. Ut in nulla enim. Phasellus class aptent taciti sociosqu."
                    buttonName="Read more"
                    btnAsLink=true
                }}
            </div>
            <div class="col-md-4">
                {{ renderContent 'iconTextButton'
                    headerLeftIcon="school"
                    header="Content element 1"
                    text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitfhghfhor. Ut in nulla enim. Phasellus class aptent taciti sociosqu."
                    buttonName="Read more"
                    btnAsLink=false
                }}
            </div>
        </div>
    </div>
    </div>
</div>




<div class="gray-background">
<div class="container">
    <div class="row">
        <div class="col-md-4">
            {{ renderContent 'iconTextButton'
                headerLeftIcon="access_time"
                header="Content element 1"
                text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitfhghfhor. Ut in nulla enim. Phasellus class aptent taciti sociosqu."
                buttonName="Read more"
                btnAsLink=false
                wholeAreaLink="#background-link"
            }}
        </div>
        <div class="col-md-4">
            {{ renderContent 'iconTextButton'
                headerLeftIcon="settings"
                header="Content element 1 Lorem ipsum dolor"
                text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitfhghfhor. Ut in nulla enim. Phasellus class aptent taciti sociosqu."
                buttonName="Read more"
                btnAsLink=false
            }}
        </div>
        <div class="col-md-4">
            {{ renderContent 'iconTextButton'
                headerLeftIcon="school"
                header="Content element 1"
                text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitfhghfhor. Ut in nulla enim. Phasellus class aptent taciti sociosqu."
                buttonName="Read more"
                btnAsLink=false
            }}
        </div>
    </div>
</div>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-12">
            {{>newsCarousel}}
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-4">
            {{ renderContent 'bigIconTextButton'
                bigTopIcon="now_widgets"
                header="Content element 1"
                text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitfhghfhor. Ut in nulla enim. Phasellus class aptent taciti sociosqu."
                buttonName="Read more"
                btnAsLink=false
                wholeAreaLink="#background-link"
            }}
        </div>
        <div class="col-md-4">
            {{ renderContent 'bigIconTextButton'
                bigTopIcon="devices"
                header="Content element 1"
                text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitfhghfhor. Ut in nulla enim. Phasellus class aptent taciti sociosqu."
                buttonName="Read more"
                btnAsLink=false
            }}
        </div>
        <div class="col-md-4">
            {{ renderContent 'bigIconTextButton'
                bigTopIcon="equalizer"
                header="Content element 1"
                text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitfhghfhor. Ut in nulla enim. Phasellus class aptent taciti sociosqu."
                buttonName="Read more"
                btnAsLink=false
            }}
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-12">
            {{ renderContent 'divider'
                icon=false
            }}
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
        {{ renderContent 'quote'
                text="Top service. It’s nice to come back. Thank you for the support, efficient and fast. You are true professionals"
                name="John Doe"
                title="VP of Marketing"
                linkText="Royal Trader"
            }}
        </div>
        <div class="col-md-6">
            {{ renderContent 'quote'
                    text="Top service. It’s nice to come back. Thank you for the support, efficient and fast. You are true professionals"
                    name="John Doe"
                    title="VP of Marketing"
                    linkText="Royal Trader"
            }}
        </div>
    </div>
</div>


<div class="margin-bottom-40">
<div class="container">
    <div class="row">
        <div class="col-md-12">
            {{>logoCarousel}}
        </div>
    </div>
</div>
</div>

{{ renderContent 'parallax'
        imgSrc="images/parallax_image.jpg"
        videoLink=false
        hideInMobile=false
        height="auto"
        elements='
            <div class="inverse">
            <div id="c181" class="container ">
                <div class="row">
                    <div class="col1  col-md-8 one-column-align-center">
                        <div class="blue-mountaih-header">
                            <div id="c183" class="text-center ">
                                <h2>Lorem ipsum dolor sit amet markum</h2>
                            </div>
                        </div>
                        <div id="c183" class="text-center">
                            <div class="ce-textpic ce-right ce-intext">
                                <div class="ce-bodytext">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        '
}}

{{ renderContent 'parallax'
        imgSrc="images/parallax_image.jpg"
        videoLink="https://www.youtube.com/watch?v=ab0TSkLe-E0"
        hideInMobile=false
        height="200px"
}}
