<div class="elem3 {{class}}">
    <h3>
        <span class="icons icon-{{headerLeftIcon}}"></span>
        {{header}}
    </h3>
    {{#if this.text}}
        <p>{{text}}</p>
    {{/if}}
    {{#if this.buttonName}}
        <a class="btn btn-default" title="{{buttonName}}" href="{{#if this.buttonLink}}{{buttonLink}}{{else}}#{{/if}}"><span>{{buttonName}}</span></a>
    {{/if}}
</div>
