<nav class="navbar navbar-default pxa-main-nav _main-nav-extended_ js__main-nav-extended {{class}} {{#is this.toggleBtn "true"}}pxa-main-nav-root-btn{{/is}}" role="navigation">
<div class="container">

{{#is this.toggleBtn "true"}}
    <button type="button" class="navbar-toggle pxa-nav-toggle-button _animate-to-x_ js__pxa-nav-toggle-button collapsed {{class}}" data-toggle="collapse" data-target="#pxa-root-main-navbar-collapse">
        <span>toggle menu</span>
    </button>
{{/is}}

<div class="collapse navbar-collapse" id="{{#is this.toggleBtn "false"}}pxa-main-navbar-collapse{{/is}}{{#is this.toggleBtn "true"}}pxa-root-main-navbar-collapse{{/is}}">

{{#is this.searchForm "true"}}
    <div class="navbar-form navbar-right main-nav-search-extended">
        <form class="search" role="search" action="search.html">
            <span class="icons icon-t3-search"></span>
            <div class="form-group" id="the-basics">
                <input type="search" class="form-control typeahead quicksearch" placeholder="Search" >
                <button type="submit" style="display:none"></button>
            </div>
        </form>
    </div>
{{/is}}

<ul class="nav navbar-nav">
{{#withSort pages "data.number"}}
{{#is data.hideInMenu false}}
{{#is data.menuLevel 1}}
{{#is data.subpages true}}
<li {{#is ../../../../page.title data.title}} class="active"{{/is}}
{{#each ../../../../pages }}
{{#is data.menuLevel 2}}
{{#is ../../../../this.data.title data.parent}}
{{#is ../../../../../../../page.title  data.title}}class="dropdown active"{{/is}}
{{/is}}
{{/is}}
{{/each}}
{{#each ../../../../pages }}
{{#is data.menuLevel 3}}
{{#is ../../../../this.data.title data.parent}}
{{#is ../../../../../../../page.title  data.title}}class="dropdown active"{{/is}}
{{/is}}
{{/is}}
{{/each}}
{{#each ../../../../pages }}
{{#is data.menuLevel 4}}
{{#is ../../../../this.data.title data.parent}}
{{#is ../../../../../../../page.title  data.title}}class="dropdown active"{{/is}}
{{/is}}
{{/is}}
{{/each}}
{{#each ../../../../pages }}
{{#is data.menuLevel 5}}
{{#is ../../../../this.data.title data.parent}}
{{#is ../../../../../../../page.title  data.title}} class="dropdown active"{{/is}}
{{/is}}
{{/is}}
{{/each}}>
<a  href="{{basename}}.html" class="dropdown-toggle-clickable" >{{data.title}}<span class="icons icon-t3-dropdown-arrow"></span><span class="caret"></span></a><a href="{{basename}}.html"  class="icons icon-t3-dropdown-arrow__mobile js__mobile-dropdown-link" ></a>
<ul class="dropdown-menu">
{{#withSort ../../../../pages "data.number"}}
{{#is data.menuLevel 2}}
{{#is ../../../../this.data.title data.parent}}
<li {{#is ../../../../../../../page.title  data.title}} class="active"{{/is}}
{{#each ../../../../../../../pages }}
{{#is data.menuLevel 3}}
{{#is ../../../../this.data.title data.parent2}}
{{#is ../../../../../../../../../../page.title  data.title}} class="active"{{/is}}
{{/is}}
{{/is}}
{{#is data.menuLevel 4}}
{{#is ../../../../this.data.title data.parent2}}
{{#is ../../../../../../../../../../page.title  data.title}} class="active"{{/is}}
{{/is}}
{{/is}}
{{#is data.menuLevel 5}}
{{#is ../../../../this.data.title data.parent2}}
{{#is ../../../../../../../../../../page.title  data.title}} class="active"{{/is}}
{{/is}}
{{/is}}
{{/each  }}>
<a href="{{basename}}.html">{{data.title}}</a>
</li>
{{/is}}
{{/is}}
{{/withSort  }}
</ul>
</li>
{{else}}
<li{{#is ../../../../page.title data.title}} class="active"{{/is}}><a href="{{basename}}.html">{{data.title}}</a></li>
{{/is}}
{{/is }}
{{/is }}
{{/withSort}}
</ul>

</div>
</div>
</nav>
