<div class="big-icon-text-btn{{#if this.wholeAreaLink}} _whole-area-link{{/if}}">
    {{#if this.bigTopIcon}}
        <span class="big-icon-text-btn__icon icons icon-{{bigTopIcon}}"></span>
    {{/if}}
    {{#if this.header}}
        <h3 class="big-icon-text-btn__header">{{header}}</h3>
    {{/if}}
    {{#if this.text}}
        <p class="big-icon-text-btn__p">{{text}}</p>
    {{/if}}
    {{#if this.buttonName}}
        <a class="big-icon-text-btn__link {{#if this.btnAsLink}}{{else}}btn btn-default {{/if}}" title="{{buttonName}}" href="{{#if this.buttonLink}}{{buttonLink}}{{else}}#{{/if}}">{{buttonName}}</a>
    {{/if}}
    {{#if this.wholeAreaLink}}
        <a class="big-icon-text-btn__whole-area-link" title="{{buttonName}}" href="{{#if this.wholeAreaLink}}{{wholeAreaLink}}{{else}}#{{/if}}">{{buttonName}}</a>
    {{/if}}
</div>
