<div class="img-text-link{{#if this.wholeAreaLink}} _whole-area-link{{/if}}">
    {{#if this.imgSrc}}
        {{#if this.imgLink}}
            <a class="img-text-link__img-link" title="{{imgLink}}" href="{{imgLink}}">
                <img class="img-text-link__img img-responsive" src="{{imgSrc}}" alt="foto">
            </a>
        {{else}}
            <img class="img-text-link__img img-responsive" src="{{imgSrc}}" alt="foto">
        {{/if}}
    {{/if}}
    {{#if this.header}}
        <h3 class="img-text-link__header">{{header}}</h3>
    {{/if}}
    {{#if this.text}}
        <p class="img-text-link__p">{{text}}</p>
    {{/if}}
    {{#if this.linkName}}
        <a class="img-text-link__link {{#if this.linkAsBtn}}btn btn-default {{/if}}" title="{{linkName}}" href="{{#if this.link}}{{link}}{{else}}#{{/if}}">{{linkName}}</a>
    {{/if}}
    {{#if this.wholeAreaLink}}
        <a class="img-text-link__whole-area-link" title="{{buttonName}}" href="{{#if this.wholeAreaLink}}{{wholeAreaLink}}{{else}}#{{/if}}">{{linkName}}</a>
    {{/if}}
</div>
